<div class=row>

    <div class=col-lg-11>
        <rd-widget>
            <rd-widget-header icon=fa-users title='Setup Appium Grid'></rd-widget-header>
            <rd-widget-body>

                <div>

                    <div class="form-group">
                        <label>Setup Grid </label>
                        <input type="text" class="form-control" value="http://repo.jenkins-ci.org/releases/org/seleniumhq/selenium/selenium-server-standalone/2.46.0/selenium-server-standalone-2.46.0.jar" ng-model="seleniumurl">
                    </div>
                    <div class="form-group">
                        <img src="img/redlight.jpg" style="height: 32px;width: 32px;">
                        <label style="color:#900000">Already configured</label>
                        </img>
                    </div>
                    <button class="btn btn-sm btn-info ng-scope">Download and Configure Grid</button>

                </div>
            </rd-widget-body>
            <rd-widget></rd-widget>
        </rd-widget>
    </div>
</div>